/*стили для переопределения отображения вопросов в тесте*/
body:not(.editing) .que .content .formulation
{
    padding-top: 40px;
}
body:not(.editing) .que .content
{
    margin: 0;
}
body:not(.editing) .que .info div
{
    display: none;
}
body:not(.editing) .que .info
{
    width: auto !important;
    position: absolute;
}
body:not(.editing) .que
{
    position: relative;
}
.que.multianswer .select.error
{
    border: 1px solid red;
}
.shulte_matrix table td
{
    width: 100%;
}
.shulte_matrix table
{
    table-layout: fixed;
}
.card {
    overflow-y: hidden !important;
}
#page-mod-quiz-view .quiz-header{
    text-align: center;
}
#page-mod-quiz-view .card-block{
    background-color: #FFFFDD;
    border-radius: 4px;
    font-size: 16px;
    color: #484848;
}

.que .content .formulation
{
    background-color: #FFFFDD;
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid #dddddd;
    color: #484848;
}

#quiz-timer {
    margin-top: 0;
    text-align: center;
    padding: 5px;
    position: fixed;
    top: 9px;
    left: 50%;
    z-index: 1040;
    width: 148px;
    margin-left: -74px;
    color: #ffff;
    font-size: 14px;
    background-color: #854dba;
    border: 1px solid #91a6ca;
    border-radius: 3px;
}
.que .info > div.grade {
    display: none;
}
#page-mod-quiz-attempt #region-main-box section[data-region='blocks-column'] {
    float: left;
}

.card-block {
    min-height: 0 !important;
}

#page-mod-quiz-attempt #region-main-box #region-main {
    float: right;
}

h5 #mod_quiz_navblock_title{
    font-size: 1.33rem;
}

.ablock {
    text-align: left;
}

.quizreviewsummary tr {
    display: none;
}
.bluenew .singlebutton button[type="submit"]
{
    color: #ffffff !important;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 13px 34px;
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 0.125rem;
    text-transform: uppercase;
    background: #293756;
    border-color: #293756;
}
.lineanswers .answer > div {
    display: inline-block;
}

.onlyimgcheck.check
{
    background-color: #ff9f15;
    border-radius: 6px;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.3);
    transition: 0.5s;

}
.onlyimgcheck
{
    padding: 7px;
    display: block !important;
    cursor: pointer;
    margin: 0 !important;
}

video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}