.hselect.right ul
{
    right: 0;
}
.hselect.left ul
{
    left: 0;
}
.hselect ul
{
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 6.25rem;
    max-height: 40.625rem;
    overflow-y: auto;
    position: absolute;
    z-index: 999;
    will-change: width, height;
    padding: 0;
    list-style: none;
}
.hselect .active
{
    color: #595d60;
}
.hselect li span
{
    font-size: 0.9rem;
    color: #4285f4;
    display: block;
    padding: 0.5rem;
}
.hselect li:hover
{
    background-color: #eeeeee;
}
.hselect li
{
    clear: both;
    cursor: pointer;
    line-height: 1.3rem;
    width: 100%;
    text-align: left;
    text-transform: none;
}
.hselect
{
    cursor: pointer;
    display: inline-block;
    position: relative;

}